    <!-- upper main stats -->
    <div id="main-stats">
        <div class="row stats-row">
            <div class="col-md-6 col-sm-6 merch-subheader">
                <div class="merch-thum">
                    <%= link_to image_tag("logo_hasbro.jpg", alt: "Hasbro", title: "Merchant Info"), "#" , class: 'img-responsive', id: 'merch-logo' %>
                </div>
                <span class="day">Sunday</span>
                <span class="date">
                    February 22, 2015
                </span>
            </div>
            <div class="col-md-2 col-sm-2 merch-subheader">
                <div class="merch-stat">
                    <i class="fa fa-play fa-2x"></i>
                    <span class="stat-label">Total Streams</span>
                    <span class="number">
                        83,789
                    </span>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 merch-subheader">
                <div class="merch-stat">
                    <i class="fa fa-volume-up fa-2x"></i>
                    <span class="stat-label">Total Clicks</span>
                    <span class="number">
                        81,534
                    </span>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 merch-subheader">
                <div class="merch-stat">
                    <i class="fa fa-money fa-2x"></i>
                    <span class="stat-label">Total Purchases</span>
                    <span class="number">
                       2,677
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- end upper main stats -->

    <div id="pad-wrapper" class="dashboard" >

        <!-- statistics chart built with jQuery Flot -->
        <div class="row chart">
            <div class="col-md-12">
                <h4 class="clearfix pull-left">
                    Statistics                         
                </h4>
                <div class="btn-group pull-right">
                    <button class="glow left">DAY</button>
                    <button class="glow middle">MONTH</button>
                    <button class="glow right active">YEAR</button>
                </div>
                <div id="legendContainer"></div>
            </div>
            <div class="col-md-12">
                <div id="statsChart"></div>
            </div>
        </div>
        <!-- end statistics chart -->

        
        <div class="table-products section">
            <div class="row head">
                <div class="col-md-10">
                    <i class="fa fa-bullhorn fa-2x"></i><span class="campaigns-subtitle">Current Campaigns</span><span class="campaign-count">(3)</span>
                </div>
                <div class="col-md-2 btn-add-campaign">
                    <%= link_to "+ Add A Campaign", new_ad_campaign_path, class:"btn-flat new-product" %>
                </div>
            </div>

            <!-- row -->
            <div class="row campaign-row">
                <div class="col-md-4 col-sm-4 campaign-inst">
                    <div class="campaign-thum">
                        <%= link_to image_tag("thum-campaign-default.jpg", alt: "Campaign", title: "Campaign Info"), "#" , class: 'img-responsive', id: 'campaign-thum-img' %>
                    </div>
                    <span class="campaign-title">
                        Winter Skate Promo 2015
                    </span>
                    <span class="day">
                        <i class="fa fa-link"></i>
                        <%= link_to "facebook.com/hasbro", "http://www.facebook.com/hasbro" %>
                    </span>
                </div>
                <div class="col-md-2 col-sm-2 campaign-inst">
                    <div class="campaign-stat">
                        <i class="fa fa-play fa-2x"></i>
                        <span class="stat-label">Total Streams</span>
                        <span class="number">
                            83,789
                        </span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 campaign-inst">
                    <div class="campaign-stat">
                        <i class="fa fa-volume-up fa-2x"></i>
                        <span class="stat-label">Total Clicks</span>
                        <span class="number">
                            81,534
                        </span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 campaign-inst">
                    <div class="campaign-stat">
                        <i class="fa fa-money fa-2x"></i>
                        <span class="stat-label">Total Purchases</span>
                        <span class="number">
                           2,677
                        </span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 campaign-inst">
                    <div class="campaign-stat edit">
                        <span class="number">Edit Product</span>
                    </div>
                </div>
            </div>
            <!-- row -->
            <div class="row campaign-row">
                <div class="col-md-4 col-sm-4 campaign-inst">
                    <div class="campaign-thum">
                        <%= link_to image_tag("thum-campaign-default.jpg", alt: "Campaign", title: "Campaign Info"), "#" , class: 'img-responsive', id: 'campaign-thum-img' %>
                    </div>
                    <span class="campaign-title">
                        Winter Skate Promo 2015
                    </span>
                    <span class="day">
                        <i class="fa fa-link"></i>
                        <%= link_to "facebook.com/hasbro", "http://www.facebook.com/hasbro" %>
                    </span>
                </div>
                <div class="col-md-2 col-sm-2 campaign-inst">
                    <div class="campaign-stat">
                        <i class="fa fa-play fa-2x"></i>
                        <span class="stat-label">Total Streams</span>
                        <span class="number">
                            83,789
                        </span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 campaign-inst">
                    <div class="campaign-stat">
                        <i class="fa fa-volume-up fa-2x"></i>
                        <span class="stat-label">Total Clicks</span>
                        <span class="number">
                            81,534
                        </span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 campaign-inst">
                    <div class="campaign-stat">
                        <i class="fa fa-money fa-2x"></i>
                        <span class="stat-label">Total Purchases</span>
                        <span class="number">
                           2,677
                        </span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 campaign-inst">
                    <div class="campaign-stat edit">
                        <span class="number">Edit Product</span>
                    </div>
                </div>
            </div>
            <!-- row -->
            <div class="row campaign-row">
                <div class="col-md-4 col-sm-4 campaign-inst">
                    <div class="campaign-thum">
                        <%= link_to image_tag("thum-campaign-default.jpg", alt: "Campaign", title: "Campaign Info"), "#" , class: 'img-responsive', id: 'campaign-thum-img' %>
                    </div>
                    <span class="campaign-title">
                        Winter Skate Promo 2015
                    </span>
                    <span class="day">
                        <i class="fa fa-link"></i>
                        <%= link_to "facebook.com/hasbro", "http://www.facebook.com/hasbro" %>
                    </span>
                </div>
                <div class="col-md-2 col-sm-2 campaign-inst">
                    <div class="campaign-stat">
                        <i class="fa fa-play fa-2x"></i>
                        <span class="stat-label">Total Streams</span>
                        <span class="number">
                            83,789
                        </span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 campaign-inst">
                    <div class="campaign-stat">
                        <i class="fa fa-volume-up fa-2x"></i>
                        <span class="stat-label">Total Clicks</span>
                        <span class="number">
                            81,534
                        </span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 campaign-inst">
                    <div class="campaign-stat">
                        <i class="fa fa-money fa-2x"></i>
                        <span class="stat-label">Total Purchases</span>
                        <span class="number">
                           2,677
                        </span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 campaign-inst">
                    <div class="campaign-stat edit">
                        <span class="number">Edit Product</span>
                    </div>
                </div>
            </div>
            <!-- row -->
            <div class="row campaign-row">
                <div class="col-md-4 col-sm-4 campaign-inst">
                    <div class="campaign-thum">
                        <%= link_to image_tag("thum-campaign-default.jpg", alt: "Campaign", title: "Campaign Info"), "#" , class: 'img-responsive', id: 'campaign-thum-img' %>
                    </div>
                    <span class="campaign-title">
                        Winter Skate Promo 2015
                    </span>
                    <span class="day">
                        <i class="fa fa-link"></i>
                        <%= link_to "facebook.com/hasbro", "http://www.facebook.com/hasbro" %>
                    </span>
                </div>
                <div class="col-md-2 col-sm-2 campaign-inst">
                    <div class="campaign-stat">
                        <i class="fa fa-play fa-2x"></i>
                        <span class="stat-label">Total Streams</span>
                        <span class="number">
                            83,789
                        </span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 campaign-inst">
                    <div class="campaign-stat">
                        <i class="fa fa-volume-up fa-2x"></i>
                        <span class="stat-label">Total Clicks</span>
                        <span class="number">
                            81,534
                        </span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 campaign-inst">
                    <div class="campaign-stat">
                        <i class="fa fa-money fa-2x"></i>
                        <span class="stat-label">Total Purchases</span>
                        <span class="number">
                           2,677
                        </span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 campaign-inst">
                    <div class="campaign-stat edit">
                        <span class="number">Edit Product</span>
                    </div>
                </div>
            </div>





            <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
        <!-- end table sample -->
    </div>