<%= form_for(@ad_campaign, multipart: true, html: { class: "direct-upload"}) do |f| %>
  <% if @ad_campaign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ad_campaign.errors.count, "error") %> prohibited this ad_campaign from being saved:</h2>

      <ul>
      <% @ad_campaign.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-md-8 col-sm-12">
    <div class="form-group">  
      <%= f.text_field :campaign_title, autofocus: true, placeholder: 'Your Campaign Title'  %>
    </div>
    <div class="form-group">
      <!--<span>Campaign Address: </span><span>https://www.kakoona.com/v1/campaigns/load_cocoon/38746837</span>-->
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <%= f.label :start_date %><br>
          <div class='input-group date' id='start_datetimepicker'>
              <%= f.text_field :start_date, class: "form-control", value: date_for_edit(@ad_campaign.start_date) %>
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
              </span>
          </div> 
        </div> 
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="form-group">
          <%= f.label :end_date %><br>
          <div class='input-group date' id='end_datetimepicker'>
              <%= f.text_field :end_date, class: "form-control", value: date_for_edit(@ad_campaign.end_date) %>
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
              </span>
          </div> 
        </div> 
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="form-group">
          <%= f.text_field :merchant_info_url, placeholder: 'www.hasbro.com/new-hotness'  %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-12 text-center">
      <div class="grffk-wrap">
          <%= f.fields_for :campaign_brand_grffk do |brand_grffk_form| %>
            <%= render 'up_brand_grffk', up: brand_grffk_form %>
          <% end %>
      </div>
      <p>Upload Your Brand Graphic</p>
  </div>
</div>
<div class="separator"></div>

<%= f.fields_for :kakoona_video do |video_form| %>
  <%= render 'kakoona_videos/upload', vid: video_form %>
<% end %>

<div class="separator"></div>

<%= f.fields_for :product do |product_form| %>
  <%= render 'products/single', prod: product_form %>
<% end %>
  

  <div class="actions">
    <div class="form-buttons">
      <div class="button">
        <%= f.submit "Save", class: "kakoona-submit" %>
      </div>
    </div>
  </div>

<% end %>
