<p id="notice"><%= notice %></p>
<%= render @avatar_grffk %>
<p>
  <strong>Merchant:</strong>
  <%= @merch_representative.merchant.id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @merch_representative.email %>
</p>

<p>
  <strong>Screen name:</strong>
  <%= @merch_representative.screen_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @merch_representative.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @merch_representative.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @merch_representative.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @merch_representative.phone %>
</p>

<p>
  <strong>Team role:</strong>
  <%= @merch_representative.team_role %>
</p>

<p>
  <strong>Rep about:</strong>
  <%= @merch_representative.rep_about %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @merch_representative.is_active %>
</p>

<p>
  <strong>Auth token:</strong>
  <%= @merch_representative.auth_token %>
</p>

<p>
  <strong>Last session time:</strong>
  <%= @merch_representative.last_session_time %>
</p>

<p>
  <strong>Last session ip:</strong>
  <%= @merch_representative.last_session_ip %>
</p>

<%= link_to 'Edit', edit_merch_representative_path(@merch_representative) %> |
<%= link_to 'Back', merch_representatives_path %>
