<!--- THUMBNAIL GENERATOR ---->
    <div class="row display-table bottom5">
      <div class="col-md-3 col-xs-6 display-cell">
        <div class="campaign-thum">
            <%= link_to image_tag("thum-campaign-default.jpg", alt: "Campaign", title: "Campaign Info"), "#" , class: 'img-responsive', id: 'campaign-thum-img' %>
        </div>
      </div>
      <div class="col-md-3 col-xs-6 display-cell">
        <div class="campaign-thum">
            <%= link_to image_tag("thum-campaign-default.jpg", alt: "Campaign", title: "Campaign Info"), "#" , class: 'img-responsive', id: 'campaign-thum-img' %>
        </div>
      </div>
      <div class="col-md-3 col-xs-6 display-cell">
        <div class="campaign-thum">
            <%= link_to image_tag("thum-campaign-default.jpg", alt: "Campaign", title: "Campaign Info"), "#" , class: 'img-responsive', id: 'campaign-thum-img' %>
        </div>
      </div>
      <div class="col-md-3 col-xs-6 display-cell">
        <div class="campaign-thum">
            <%= link_to image_tag("thum-campaign-default.jpg", alt: "Campaign", title: "Campaign Info"), "#" , class: 'img-responsive', id: 'campaign-thum-img' %>
        </div>
      </div>
    </div>
    <div class="row display-table">
      <div class="col-md-3 col-xs-6 display-cell">
        <div class="campaign-thum">
            <%= link_to image_tag("thum-campaign-default.jpg", alt: "Campaign", title: "Campaign Info"), "#" , class: 'img-responsive', id: 'campaign-thum-img' %>
        </div>
      </div>
      <div class="col-md-3 col-xs-6 display-cell">
        <div class="campaign-thum">
            <%= link_to image_tag("thum-campaign-default.jpg", alt: "Campaign", title: "Campaign Info"), "#" , class: 'img-responsive', id: 'campaign-thum-img' %>
        </div>
      </div>
      <div class="col-md-3 col-xs-6 display-cell">
        <div class="campaign-thum">
            <%= link_to image_tag("thum-campaign-default.jpg", alt: "Campaign", title: "Campaign Info"), "#" , class: 'img-responsive', id: 'campaign-thum-img' %>
        </div>
      </div>
      <div class="col-md-3 col-xs-6 display-cell">
        <div class="campaign-thum">
            <%= link_to image_tag("thum-campaign-default.jpg", alt: "Campaign", title: "Campaign Info"), "#" , class: 'img-responsive', id: 'campaign-thum-img' %>
        </div>
      </div>
    </div>
    