<p id="notice"><%= notice %></p>

<h1>Listing Content Providers</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Precious</th>
      <th>Screen name</th>
      <th>First name</th>
      <th>Middle name</th>
      <th>Last name</th>
      <th>Phone</th>
      <th>Team role</th>
      <th>Rep about</th>
      <th>Is active</th>
      <th>Avatargrffks</th>
      <th>Auth token</th>
      <th>Date created</th>
      <th>Date modified</th>
      <th>Socialmedia</th>
      <th>Last session time</th>
      <th>Last session ip</th>
      <th>Sessions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @content_providers.each do |content_provider| %>
      <tr>
        <td><%= content_provider.email %></td>
        <td><%= content_provider.Precious %></td>
        <td><%= content_provider.screen_name %></td>
        <td><%= content_provider.first_name %></td>
        <td><%= content_provider.middle_name %></td>
        <td><%= content_provider.last_name %></td>
        <td><%= content_provider.phone %></td>
        <td><%= content_provider.team_role %></td>
        <td><%= content_provider.rep_about %></td>
        <td><%= content_provider.is_active %></td>
        <td><%= content_provider.AvatarGrffks %></td>
        <td><%= content_provider.auth_token %></td>
        <td><%= content_provider.date_created %></td>
        <td><%= content_provider.date_modified %></td>
        <td><%= content_provider.SocialMedia %></td>
        <td><%= content_provider.last_session_time %></td>
        <td><%= content_provider.last_session_ip %></td>
        <td><%= content_provider.Sessions %></td>
        <td><%= link_to 'Show', content_provider %></td>
        <td><%= link_to 'Edit', edit_content_provider_path(content_provider) %></td>
        <td><%= link_to 'Destroy', content_provider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Content provider', new_content_provider_path %>
