<div class="row head">
    <div class="col-md-9">
        <span class="section-title">Product</span>
        <p>Create your product for this campaign.</p>
    </div>
</div>
<div class="row display-table">
  <div class="col-md-3 col-xs-12 display-cell">
    <fieldset class: 'product_upload-fields' id: 'product_upload-fields'>
      <%= prod.label :grffk, capture { %>
        <div class="product-add text-center">
          <span class="glyphicon glyphicon-camera"></span>
        </div>
      <% } %>
      <%= prod.file_field :grffk, accept: 'image/png,image/gif,image/jpeg,image/jpg', class: "form-control" %>
      <%= prod.hidden_field :cloud_asset_url, value: "upload" %>
    </fieldset>
  </div>
  <div class="col-md-9 col-xs-12 display-cell attributeContainer" id="product-detail-wrap">


    <div class="row bottom10">
      <div class="col-md-12 col-xs-12">
        <input class="form-control" type="text" placeholder="Video Title">
      </div>
    </div>
    <div class="row display-table bottom10">
      <div class="col-md-12 col-xs-12 display-cell">
          <% product_types = [['Simple Product', 1], ['Digital Product', 2], ['Configurable Product', 3]] %>
          <%= prod.select(:product_type, options_for_select(product_types, prod.object.product_type), {include_blank: false}, {'data-toggle' => "select", required: "true", autofocus: "true", class: "kakoona-select"})%>
      </div>
    </div>
     <div class="row display-table bottom10">
      <div class="col-md-6 col-xs-12 display-cell">
        <%= prod.label "Price" %>
        <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= prod.text_field :price, class: "form-control", placeholder: '000.00' %>
        </div>
      </div>
      <div class="col-md-6 col-xs-12 display-cell">
        <%= prod.label "In Stock" %>
        <div class="input-group">
            <%= prod.text_field :in_stock, class: "form-control", placeholder: '0' %>
            <span class="input-group-addon">count</span>
        </div>
      </div>
    </div>
    <div class="row bottom10">
      <div class="col-md-12 col-xs-12">
        <%= prod.label :description %>
        <%= prod.text_area :description, rows: 5, class: 'form-control' %>
      </div>
    </div>
    
    <div class="row">
      <h4 class="config-subtitle">Configurable Attributes</h4>
      <div class="col-md-3 col-xs-6">
        <%= link_to "+ More Fields", '#', class:"btn-flat btn-add-fields addAttribute" %>
      </div>
    </div>
    
    <!--- First Config Attribute Fields 
    <div class="row display-table bottom10 row-no-padding attr-fieldset">
      <div class="col-md-5 col-xs-5 display-cell">
        <input class="form-control" type="text" placeholder="attribute name">
      </div>
      <div class="col-md-6 col-xs-6 display-cell">
        <input class="form-control" type="text" placeholder="values (ex: s,m,l,xl)">
      </div>
      <div class="col-md-1 col-xs-1">
        <div class="btn-remove-attr">
          <div href="#" class=" spacer">
            <i class="fa fa-times fa-2x"></i>
          </div>
        </div>
      </div>
    </div>
    -->
    <%= prod.fields_for :config_vars, @config_var do |d| %>
          <% @config_var.try(:each) do |key, value| %>
            <div class="row display-table bottom10 row-no-padding attr-fieldset">
              <div class="col-md-5 col-xs-5 display-cell">
                <%= text_field_tag key, key, :class => 'text_field dynamicAttributeName' %>
              </div>
              <div class="col-md-6 col-xs-6 display-cell">
                <%= d.text_field key, :class => 'text_field', :value => value %>
              </div>
              <div class="col-md-1 col-xs-1">
                <div class="btn-remove-attr">
                  <a href="#" class="btn-remove-fields removeRow">
                    <i class="fa fa-times fa-2x"></i>
                  </a>
                </div>
              </div>
            </div>
      <% end %>
    <%- end -%>

    <!--- Attribute Template -->
    <div class='row attributeTemplate display-table bottom10 row-no-padding attr-fieldset <%= 'hide' if @config_var.present? %>'>
      <div class="col-md-5 col-xs-5 display-cell">
        <input class='form-control text_field dynamicAttributeName' id='' name='' placeholder='New Attribute name' type='text' />
      </div>
      <div class="col-md-6 col-xs-6 display-cell">
        <input class='form-control text_field' id='bar' name='' placeholder='values(ex: s,m,l,xl)'  type='text'  />
      </div>
      <div class="col-md-1 col-xs-1 display-cell">
        <div class="btn-remove-attr">
          <a href="#" class="btn-remove-fields removeRow">
            <i class="fa fa-times fa-2x"></i>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>

