<!DOCTYPE html>
<html class="<%= controller_name %>">
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= google_webfonts_init({
    google: ['Open Sans', 'Lato']
  }) %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
  <% if controller_name == 'sessions' || controller_name == 'merch_representatives'  %>
    <%= render 'layouts/loginheader' %>
    <div class="full-content">
  <% else %>
  	<%= render 'layouts/header' %>
  	<%= render 'layouts/sidebar' %>
    <div class="content">
  <% end %>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
      <!--<%= debug(params) if Rails.env.development? %>-->
  </div>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <% if controller_name == 'dashboard'  %>
    <%= javascript_include_tag "dashboard" %>
  <% end %>

  <% if controller_name == 'ad_campaigns'  %>
    <%= javascript_include_tag "ad_campaigns" %>
  <% end %>

</body>
</html>
